body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #A13232;
    color: #000;
    width: 800px;
    margin: 0 auto;
}

.nav{
    list-style-type: none;
    width: 750px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#pics{
    list-style-type: none;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.pics{
    float: left;
    margin: 0 10px;
}

#columns{
    -moz-column-count: 3;
}

.ulcircle{
    list-style-type: circle;
}

#top{
    color: #5E0000;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 2em;
    text-shadow: 2px 2px #8A0101;
}

h2{
    color: #5E0000;
}

.links:link{
    color: #5E0000;
}

.links:visited{
    color: #5E0000;
}

.links:hover{
    color: #8A0101;
    background-color: #5E0000;
}

p{
    clear: left;
}

.links{
    width: 250px;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#button{
    text-decoration: none;
    padding: 10px 15px;
    margin: 40px;
    background: #5E0000;
    color: #8A0101;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #8A0101;
}