body{
    max-width: 790px;
    margin: 0 auto;
    background-color: #FCAE5B;
    font-family: 'Roboto Condensed', sans-serif;
    font: 100%;
}

#wrapper{
    width: 100%; /* 730px */
    margin: 0 auto;
    padding-left: 4.109589%; /* 30px */
    overflow: hidden;
    background: #D97000;  
}

article{
    width: 91.780822%; /* 670px */
}

#top{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 70px;
    color: #FCAE5B;
    font-weight: 300;
}

.subheads{
    font-family: 'Righteous', cursive;
    font-weight: 200;
    color: #FCAE5B;
}

#columns{
    -moz-column-count: 3;
}



ul.a{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

ul.b{
    list-style-type:circle;
    margin-left: 8px;
    padding-left: 8px; 
}

ul.c{
    list-style-type:none;
    margin: 0;
    padding: 0;
}


.links{
    text-decoration: none;
}

.links:hover{
    color: #FCAE5B;
    text-decoration: none;
}

.pic{
    border: 3px solid #FCAE5B;
    width: 35.616438%;
}

img{
    max-width: 100%;
}

table{
    border-collapse: collapse;
}

th{
    border: 1px dashed #000;
    background-color: #FCAE5B;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

td{
    border: 1px dashed #FCAE5B;
    padding: 10px;
}